[ req ]
default_md = sha256
distinguished_name = client_dn
utf8 = yes
prompt = no
[ client_dn ]
commonName=Adam Nowak
organizationName=Firma sp. z o.o.
organizationalUnitName=Wiceprezes
emailAddress=anowak@edu.pl
[ smime ]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth,emailProtection
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
subjectAltName = email:anowak@edu.pl, email:szkolenia@edu.pl
